<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 page-content text-center">
            <h2 lang="@ViewBag.CultureName">@Localizer["Heading"]</h2>
            <p lang="@ViewBag.CultureName">@Localizer["Text"]</p>
        </div>
    </div>
</div>

