/*----------- site.css -----------*/

.bkg-img {
    background-image: url(../img/Jackdaw.jpg);
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover !important;
}

.logo {
    width: 32px !important;
    height: 32px !important;
}

.request-id {
    font-size: x-small;
    font-weight: 600;
}

.body-content {
    position: relative;
    top: 30px !important;
    word-wrap: anywhere;
    height: 85vh;
    align-content: start;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 767.98px) {
    .navbar .navbar-collapse .navbar-nav {
        border-radius: 15px;
        background-color: rgba(40, 56, 35, 0.9);
    }

    .home-area .home-headline .single-headline b.is-wrapable {
        white-space: normal;
    }

    .mbYTP_wrapper {
        width: 50%;
        height: 50%;
    }
}

@media (min-width: 767.98px) {
    .nav-item-collapse {
        display: none;
    }
}

.alert-danger {
    opacity: 0.8;
}
