    <div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/JQxUnRbvsiQ',containment:'#home',autoPlay:true, mute:true, startAt:13, stopAt:76, showControls:false, stopMovieOnBlur:false, showYTLogo:false, gaTrack:false}"></div>
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name"> <span></span></h1>
          <h4 class="cd-headline clip home-headline">A new <span class="cd-words-wrapper single-headline"><b class="is-visible">experience</b><b>design by Exill</b><b>.Net 6.0 MVC development</b><b>way coming ...</b></span></h4>
        </div>
      </div>
    </div>
    
