  <!-- Culture lightbox-->
  <div class="lightbox-wrapper" id="culture" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description" lang="@ViewBag.CultureName">@SharedLocalizer["culture-section-description"]</p>
                  <h2 class="section-title" lang="@ViewBag.CultureName">@SharedLocalizer["culture-section-title"]</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Culture section-->
            <div class="culture-section single-section">
                <div class="row justify-content-center">                
                    <div class="col-12 col-lg-7 info-content">
                        <div class="content-block">
                            <!-- Culture selection-->
                            <div class="content-description">
                                <div class="d-block d-sm-flex pt-2">
                                    <ul class="list-unstyled list-info pl-5">
                                        <li class="culture-link"><a href="en-US"><span lang="en-US" class="single-language">[ENG] English</span></a></li>
                                        <li class="culture-link"><a href="nl"><span lang="nl" class="single-language">[DUT] Nederlands</span></a></li>
                                        <li class="culture-link"><a href="fr"><span lang="fr" class="single-language">[FRE] français</span></a></li>
                                        <li class="culture-link"><a href="es"><span lang="es" class="single-language">[SPA] Española</span></a></li>
                                        <li class="culture-link"><a href="ja"><span lang="ja" class="single-language">[JAP] 日本</span></a></li>
                                        <li class="culture-link"><a href="ar"><span lang="ar" class="single-language">[ARA] عربى</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>>