<!-- Languages list-->
<div class="fixed-block block-left">
<ul class="list-unstyled languages-list">
    <li class="culture-link"><a href="en-US"><span class="single-language">ENG</span></a></li>
    <li class="culture-link"><a href="nl"><span class="single-language">DUT</span></a></li>
    <li class="culture-link"><a href="fr"><span class="single-language">FRE</span></a></li>
    <li class="culture-link"><a href="es"><span class="single-language">SPA</span></a></li>
    <li class="culture-link"><a href="ja"><span class="single-language">JAP</span></a></li>
    <li class="culture-link"><a href="ar"><span class="single-language">ARA</span></a></li>
    <li class="culture-link"><a href="uk"><span class="single-language">UKR</span></a></li>
</ul>
</div>
