      <!-- Languages list-->
      <div class="fixed-block block-left">
        <ul class="list-unstyled languages-list">
          <li><a href="#0"><span class="single-language">ENG</span></a></li>
          <li><a href="#0"><span class="single-language">DUT</span></a></li>
          <li><a href="#0"><span class="single-language">FRE</span></a></li>
          <li><a href="#0"><span class="single-language">SPA</span></a></li>
          <li><a href="#0"><span class="single-language">JAP</span></a></li>
          <li><a href="#0"><span class="single-language">ARA</span></a></li>
        </ul>
      </div>
