<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Personal website for Christopher D. Cavell</title>
    <base href="/" />

    <link rel="icon" type="image/x-icon" href="_content/Jackdaw.ClassLibrary.Mvc/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="_content/Jackdaw.ClassLibrary.Mvc/img/favicon.ico" />
<head>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>