  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" asp-controller="Home" asp-action="Index">
      <!-- Navbar Logo-->
      <img class="img-fluid logo pb-1" src="_content/Jackdaw.ClassLibrary.Mvc/img/icon-light.png" alt="Logo"><span class="text-light ml-1">CDC<span class="text-lowercase">avell</span></span></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">@SharedLocalizer["About"]</a></li>
        <li class="nav-item"><a class="nav-link" href="#license">@SharedLocalizer["License"]</a></li>
      </ul>
    </div>
  </nav>
