      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.linkedin.com/in/christopher-d-cavell-6192113b" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/cdcavell/Jackdaw" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://twitter.com/CDCavell/" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/cdcavell/" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-facebook"></i></a></li>
        </ul>
      </div>
